@import "bootstrap/scss/bootstrap-grid";

/* ====================================
// reset rules
// ==================================== */
:root {
  --red: #ff0000;
  --white: #ffffff;
}

.row + .row {
  margin-top: 16px;
}
/*
.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}
/*
img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
*/
.header {
  background-color: antiquewhite;
}
.container {
  text-align: center;
}
.row-about {
  text-align: center;
}

h2 {
  font-size: 50px;
  color: var(--red);
  letter-spacing: 0;
}
h3 {
  font-family: "PP Agrandir";
  font-weight: bold;
  font-size: 20px;
  color: var(--red);
  letter-spacing: 0;
}
p {
  font-family: "PP Agrandir";
  font-size: 16px;
  color: var(--red);
  letter-spacing: 0;
  padding: 10px 0 108px 0;
}
.ingredient {
  padding-top: 6px;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-texte {
  position: absolute;
  top: 2772px;
  left: 50%;
  transform: translate(50%, 50%);
  font-size: 18px;
  color: red;
}

.horaires {
  background-image: url(../img/cafeÃÅ/pexels-photo-2323432.webp);
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
.galerie-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;

  object-fit: contain;
}
.article-img {
  height: 106px;
  width: 100%;
  object-fit: cover;
}
article {
  background-color: var(--white);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
}
.article-texte {
  text-align: justify;
  font-family: "PP Agrandir";
  font-size: 16px;
  letter-spacing: 0;
  padding: 8px;
}
h3,
.artist-name {
  padding: 8px 0px 5px 8px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.footer-title {
  color: var(--white);
  font-family: "PP Agrandir";
  font-size: 50px;
}
footer {
  background-color: var(--red);
  text-align: right;
}
