@import "bootstrap/scss/bootstrap-grid";

/* ====================================
// reset rules
// ==================================== */

:root {
  --red: #ff0000;
  --white: #ffffff;
}

.row + .row {
  margin-top: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  color: var(--red);
  letter-spacing: 0;
  font-family: "PPAgrandir";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}
a {
  color: inherit;
  text-decoration: none;
  color: #ffffff;
}

.header {
  background-color: antiquewhite;
}
.row-about {
  text-align: center;
}

.flex-container {
  display: flex;
}
.flex-container > div {
  font-size: 20px;
  color: #ff0000;
  flex-direction: column;
}
.box1 {
  justify-content: flex-start;
}
.box2 {
  wrap-reverse: column;
}

h2 {
  font-size: 50px;
  font-family: "PPAgrandir";
  margin: 40px 0px 20px 0px;
  text-align: center;
}
h3 {
  font-family: "PPAgrandir-TextBold";
  font-size: 20px;
  font-family: "PPAgrandir";
}
.day {
  text-align: center;
  padding: 2px;
}
.hour {
  font-family: "PPAgrandir";
  text-align: center;
  padding: 0 0 20px 0;
}
p {
  font-family: "PPAgrandir";
  color: var(--red);
  letter-spacing: 0;
  padding: 10px 0 10px 0;
  text-align: justify;
}
.about {
  margin-bottom: 42px;
}
.img-trans {
  position: absolute;
  max-width: 100%;
  height: auto;
}
.ingredient {
  padding: 6px 0px 19px 0px;
  text-align: left;
}

.img {
  max-width: 100%;
  height: auto;
}
.img-texte {
  position: absolute;
  top: 2772px;
  left: 50%;
  transform: translate(50%, 50%);
  font-size: 18px;
  color: red;
}

.horaires {
  background-image: url(../img/cafeÃÅ/pexels-photo-2323432.webp);
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 102px;
}
.galerie-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-fit: contain;
}
.article-img {
  height: 106px;
  width: 100%;
  object-fit: cover;
}
article {
  background-color: var(--white);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
}
.article-texte {
  text-align: justify;
  font-family: "PPAgrandir";
  font-size: 16px;
  letter-spacing: 0;
  padding: 8px;
}

.artist-name {
  text-align: left;
  margin: 11px 0 0px 8px;
}
.date {
  text-align: left;
  margin: 0px 3px 10px 8px;
}
.article-texte {
  font-family: "PPAgrandir";
  font-size: 16px;
  align-items: center;
}
article {
  margin-bottom: 46px;
}
.footer-title {
  color: white;
  font-family: "PPAgrandir";

  font-size: 50px;
  margin-top: 27px;
}
footer {
  background-color: var(--red);
  text-align: left;
  margin: 113px 0 0 0;
}
.adress {
  margin-bottom: 15px;
}
