@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "PPAgrandir";
  src: url("../fonts/PPAgrandir-Regular.woff2") format("woff2"),
    url("../fonts/PPAgrandir-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPAgrandir";
  src: url("../fonts/PPAgrandir-TextBold.woff2") format("woff2"),
    url("../fonts/PPAgrandir-TextBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .article {
    height: 100%;
  }
  .horaires {
    padding: 50px;
  }
  .list-ancre {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu {
    max-width: 35%;
  }
  .article {
    height: 400px;
  }
  .horaires {
    padding: 102px;
  }
  .burger {
    display: none;
  }
  .menu-burger {
    display: none;
  }
}

:root {
  --red: #ff0000;
  --white: #ffffff;
}

.row + .row {
  margin-top: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  color: var(--red);
  letter-spacing: 0;
  font-family: "PPAgrandir";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}
header {
  position: relative;
  padding: 100px;
}
a {
  color: inherit;
  text-decoration: none;
  color: var(--white);
}
a.list-ancre {
  color: var(--red);
  text-align: center;
}

#café {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  filter: blur(4px);
  opacity: 80%;
}

.row-about {
  text-align: center;
}

.flex-container {
  display: flex;
}
.flex-container > div {
  font-size: 20px;
  color: #ff0000;
  flex-direction: column;
  flex-grow: 1;
}
.box2 {
  text-align: right;
}

h2 {
  font-size: 50px;
  font-family: "PPAgrandir";
  margin: 45px 0px 20px 0px;
  text-align: center;
}
h3 {
  font-size: 20px;
  font-family: "PPAgrandir";
}
.day {
  text-align: center;
  padding: 2px;
}
.hour {
  font-family: "PPAgrandir";
  text-align: center;
  padding: 0 0 20px 0;
}
p {
  font-family: "PPAgrandir";
  color: var(--red);
  letter-spacing: 0;
  padding: 10px 0 10px 0;
  text-align: justify;
}
.about {
  margin-bottom: 42px;
}
.img-trans {
  position: absolute;
  max-width: 100%;
  height: auto;
}
.ingredient {
  padding: 6px 0px 19px 0px;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
}
.img-texte {
  position: absolute;
  top: 2772px;
  left: 50%;
  transform: translate(50%, 50%);
  font-size: 18px;
  color: red;
}

.horaires {
  background-image: url(../img/café/pexels-photo-2323432.webp);
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 27px;
}
.galerie-img {
  // width: 100%;
  // height: auto;
  padding-bottom: 20px;
  // padding: 10px 0px 10px 0px;
}
.little {
  height: 50%;
  flex: none;
}
.big {
  height: 100%;
}
.container-fluid {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.test {
  height: 100%;
  object-fit: cover;
}

.article-img {
  height: 106px;
  width: 100%;
  object-fit: cover;
}
article {
  background-color: var(--white);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
  height: inherit;
}
.article-texte {
  text-align: justify;
  font-family: "PPAgrandir";
  font-size: 16px;
  letter-spacing: 0;
  padding: 8px;
}

.artist-name {
  text-align: left;
  margin: 11px 0 0px 8px;
}

.date {
  text-align: left;
  margin: 0px 3px 10px 8px;
}
.article-texte {
  font-family: "PPAgrandir";
  font-size: 16px;
  align-items: center;
}
article {
  margin-bottom: 46px;
}
.footer-title {
  color: white;
  font-family: "PPAgrandir";

  font-size: 50px;
  margin-top: 27px;
}
footer {
  background-color: var(--red);
  text-align: left;
  margin: 113px 0 0 0;
}
.adress {
  margin: 9px 1px 1px 28px;
  display: block;
  color: var(--white);
}
.num {
  margin-bottom: 0;
}
.link {
  font-size: 30px;
  margin: 30px 0 25px 25px;
}
video {
  width: 100%;
  height: 100%;
}
.parent {
  display: flex;
  flex-direction: row-reverse;
}
.logo {
  width: 5%;
  height: 50%;
  margin: 16px 134px 14px 0;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: var(--white);
  opacity: 90%;
  padding-top: 60px;
  transition: left 0.5s ease;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--red);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--red);
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: var(--red);
  margin: 6px 0;
  margin-left: 300px;
}
